<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="http://localhost:8080/bootstrap.css">
        <link rel="stylesheet" href="http://localhost:8080/style.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" href="/favicon.png"/>
        <link rel="icon" type="image/png" href="http://localhost:8080/logo.png"/>
        <title>COVIDA</title>
    </head>

    <body id="home-body">
    <!-- Navigation -->
    <nav>
        <div class='navbar navbar-expand-lg navbar-dark bg-dark'>
            <a class="navbar-brand" href="/">
                <img src='http://localhost:8080/covida.png' width="75" height="30" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" id="navBarLinks">
                <div class="form-inline">
                    <input id="searchForm" class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-primary" type="button" id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                </div>
                <div class="userInfo">
                    <a class="text-white p-4" href="/account">{{username}}</a>
                    <a href="/logout"<button class="btn btn-primary" type="button">Log Out</button></a>
                </div>
            </div>
        </div>
    </nav>
    <hr>

    <!-- Page Content -->
    <h1>Choose a Game to Add</h1>
    <div class="search">
        <div class="card-columns card-popular m-3">
            {{#each games}}
                <div class="card">
                    {{#if urlImage}}
                        <img class="card-img-top img-fluid" src="{{urlImage}}" alt="Card image cap">
                    {{/if}}
                    <div class="card-body text-center">
                        <a href={{url}}>{{name}}</a>
                        <div class="card-body text-center">
                            <form class="float-right text-dark" action="/site/add/groups/{{../group_id}}/games/{{id}}" method="POST">
                                <input type="image" src="http://localhost:8080/plus.png" alt="" width="20" height="20">
                            </form>
                        </div>
                        <p class="card-text">{{summary}}</p>
                        {{#if total_rating}}
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: {{total_rating}}%">{{total_rating}}</div>
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class = "col text-center">
        <br><br><a href="javascript:history.back()"<button class="btn btn-primary" type="button">Go Back</button></a><br><br>
    </div>  

    <script>
        document.getElementById("searchButton").onclick = () => {
            let userInput = document.getElementById("searchForm").value
            if(userInput) {
                let result = "http://localhost:8080/site/games/name/".concat(userInput)
                location.href = result
            } else {
                alert("To search for a Game you need to insert a name!")
            }
        }
    </script>

    </body>

</html>